<div id="message">
  <a href="" class="message_user"><%= message.user.email %></a>
  <span class="message_timestamp">
    <%= message.created_at %>
  </span>
  <span class="message_content">
    <%= message.content %>
  </span>
</div>